# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env
.env.local

# Dependencies
node_modules/

# Logs
logs
*.log

# Editor
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.temp